In [2]:
import pandas as pd

In [5]:
users = pd.read_csv('users.csv')
users.head()

,Unnamed: 0,WhPerMile,kWhRequested,milesRequested,minutesAvailable,modifiedAt,paymentRequired,requestedDeparture,userID
0,0,350,59.5,170,550,"Mon, 30 Apr 2018 15:08:54 GMT",True,"Tue, 01 May 2018 00:17:49 GMT",22
1,1,400,8.0,20,60,"Mon, 07 May 2018 14:38:32 GMT",True,"Mon, 07 May 2018 15:38:18 GMT",61
2,2,400,8.0,20,648,"Mon, 07 May 2018 15:40:44 GMT",True,"Tue, 08 May 2018 01:26:18 GMT",61
3,3,400,28.0,70,648,"Mon, 07 May 2018 15:41:04 GMT",True,"Tue, 08 May 2018 01:26:18 GMT",61
4,4,350,17.5,50,546,"Fri, 11 May 2018 15:18:23 GMT",True,"Sat, 12 May 2018 00:23:01 GMT",22

In [ ]:
charging = pd.read_csv('users.csv')